{% extends "todos/base.html" %}
{% block content%}

<div class="header-bar">
  <div>
    <h1>Hello {{ request.user|title }}</h1>
    <h3>You have <i>{{ incomplete_count }}</i> incomplete task{{ incomplete_count|pluralize }}</h3>
  </div>

  {% if request.user.is_authenticated %}
  <a href="{% url 'todos:logout' %}">Logout</a>
  {% else %}
  <a href="{% url 'todos:login' %}">Login</a>
  {% endif %}
</div>



<div id="search-add-wrapper">
  <form method="get" style="display: flex; margin-top: 20px;">
    <input type="text" name="search_string" value="{{ search_string }}">
    <input class="button" type="submit" value="Search">
  </form>
  <a id="add-link" href="{% url 'todos:task_create' %}">&#x2b;</a>
</div>

<div class="task-list-wrapper">
  {% for task in task_list %}
  <div class="task-wrapper">
    <div class="task-title">
      {% if task.is_completed %}
      <div class="task-complete-icon"></div>
      <i><s><a href="{% url 'todos:task_update' task.id %}">{{ task }}</a></s></i>
      {% else %}
      <div class="task-incomplete-icon"></div>
      <a href="{% url 'todos:task_update' task.id %}">{{ task }}</a>
      {% endif %}
    </div>
    <a class="delete-link" href="{% url 'todos:task_delete' task.id %}">&#215;</a>
  </div>
  {% empty %}
  <h3 style="padding: 20px; text-align: center;">No items in the list</h3>
  {% endfor %}
</div>

{% endblock %}

